<h1>Definitions for: <%= @word.name %>!</h1>

<h3>Definitions:</h3>
<% if @defs %>
  <ul>
    <% @defs.each do |definition|%>
      <li><a href="/words/<%= @word.id %>/defs/<%= definition.id %>"><%= definition.body %></a></li>
  <% end %>
<% else %>
  <p>There are no word definitions to display</p>
<% end %>

<p><a href="/words/<%= @word.id %>/edit">Edit word</a></p>

<form action="/words/<%= @word.id %>/defs" method="post">
  <div class="form-group">
    <label for="definition">Definition</label>
    <input id="definition" name="definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add definition</button>
</form>