<h1>Definitions for: <%= @word.name %>!</h1>

<h3>Definitions:</h3>
<% if @word.definition %>
  <ul>
    <% @word.definition.each do |word|%>
      <li><a href="/words/<%= word.id %>"><%= word.name %></a></li>
  <% end %>
<% else %>
  <p>There are no word definitions to display</p>
<% end %>

<a href="/words/<%= @word.id %>/def_new">Add a new definition</a>

<form action="/words/<%= @word.id %>/" method="post">
  <div class="form-group">
    <label for="definition">Definition</label>
    <input id="definition" name="definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add definition</button>
</form>